# "org" ensures this Service is used with the correct Serverless Framework Access Key.
org: hassannasir
# "app" enables Serverless Framework Dashboard features and sharing them with other Services.
app: sls-handicraft-backend
# "service" is the name of this project. This will also be added to your AWS resource names.
service: sls-aws-backend

stages:
  prod:
    params:
      handicraftTableName: "handicrafts-prod"
      cartTableName: "carts-prod"
      sessionTableName: "sessions-prod"
  dev:
    params:
      handicraftTableName: "handicrafts-dev"
      cartTableName: "carts-dev"
      sessionTableName: "sessions-dev"

provider:
  name: aws
  runtime: nodejs20.x
  # Uncomment to easily set up a custom domain. Read the docs for more details:
  # https://www.serverless.com/framework/docs/providers/aws/guide/domains
  # domain: api.example.com
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:Query
            - dynamodb:Scan
            - dynamodb:GetItem
            - dynamodb:PutItem
            - dynamodb:UpdateItem
            - dynamodb:DeleteItem
          Resource:
            - Fn::GetAtt: [HandiCraftsTable, Arn]
            - Fn::GetAtt: [CartTable, Arn]
            - Fn::GetAtt: [SessionsTable, Arn]
  environment:
    HANDICRAFTS_TABLE: ${param:handicraftTableName}
    CART_TABLE: ${param:cartTableName}
    SESSIONS_TABLE: ${param:sessionTableName}
  httpApi:
    cors:
      allowedOrigins: 
        - http://localhost:5173
      allowedHeaders: 
        - Content-Type
        - Authorization
        - x-session-id
      allowedMethods: 
        - GET
        - POST
        - PUT
        - DELETE
      maxAge: 6000
    authorizers:
      customAuthorizer:
        type: request
        functionName: authguardFunc

functions:
  authguardFunc:
    handler: handlers/auth/authorizer.handler

  createHandicraft:
    handler: handlers/handicrafts/create.handler
    events:
      - httpApi:
          method: POST
          path: /handicrafts
          authorizer:
            name: customAuthorizer

  createCartItem:
    handler: handlers/cart/create.handler
    events:
      - httpApi:
          method: POST
          path: /carts
          authorizer:
            name: customAuthorizer

  getHandicraft:
    handler: handlers/handicrafts/read.handler
    events:
      - httpApi:
          method: GET
          path: /handicrafts
          authorizer:
            name: customAuthorizer

  listHandicraft:
    handler: handlers/handicrafts/list.handler
    events:
      - httpApi:
          method: GET
          path: /handicrafts/list
          authorizer:
            name: customAuthorizer

  listCartItems:
    handler: handlers/cart/list.handler
    events:
      - httpApi:
          method: GET
          path: /carts
          authorizer:
            name: customAuthorizer

  updateCartItem:
    handler: handlers/cart/update.handler
    events:
      - httpApi:
          method: PUT
          path: /carts
          authorizer:
            name: customAuthorizer

  deleteHandicraft:
    handler: handlers/handicrafts/delete.handler
    events:
      - httpApi:
          method: DELETE
          path: /handicrafts
          authorizer:
            name: customAuthorizer

  deleteCartItem:
    handler: handlers/cart/delete.handler
    events:
      - httpApi:
          method: DELETE
          path: /carts
          authorizer:
            name: customAuthorizer

resources:
  Resources:
    HandiCraftsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        AttributeDefinitions:
          - AttributeName: craftId
            AttributeType: S
        KeySchema:
          - AttributeName: craftId
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
        TableName: ${param:handicraftTableName}

    CartTable:
      Type: AWS::DynamoDB::Table
      Properties:
        AttributeDefinitions:
          - AttributeName: cartId
            AttributeType: S
        KeySchema:
          - AttributeName: cartId
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
        TableName: ${param:cartTableName}

    SessionsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        AttributeDefinitions:
          - AttributeName: deviceFingerprint
            AttributeType: S
        KeySchema:
          - AttributeName: deviceFingerprint
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
        TableName: ${param:sessionTableName}
